@charset "UTF-8";

body {
  background: #12181B;
}

a {
  color:white;
  text-decoration: none;
}

.flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5164ed;
    padding: 30px;
    height: 110px;
}
/*logo*/
.container {
  margin: 0px 0 0 50px;
}

nav ul {
    font-size:30px;
    list-style: none;
    display:flex;
    align-items: baseline;
    
}
/*Menu*/
nav {
  margin: 0px 50px 0 0px;
}

nav ul li {
    margin: 0 15px;
}

.btn {
  padding: 5px 30px;
  border-radius: 20px;
}

.btn.btn-laranja {
  background-color: orange;
  color: white;
}



